body {


	margin: 0px;
	}


body div {


	}

@font-face {
  font-family: 'Campton-BoldDEMO';
  src: url('Campton-BoldDEMO.eot');
  src: url('Campton-BoldDEMO.eot?#iefix') format('embedded-opentype'),
       url('Campton-BoldDEMO.woff2') format('woff2'),
       url('Campton-BoldDEMO.woff') format('woff'),
       url('Campton-BoldDEMO.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#header {

	width: 100%;
	height: 35%;
	background-image: url(boston.jpg);
	background-size: 100% 100%;
	border: 1px solid black;
}

#nav {
	margin-top: -17px;
	width: 100%;
	height: 10%;
	overflow-x: hidden;
    overflow-y: hidden;
    border: 1px solid black;
	background-color: #FAE600;

}

ul.navbar {

	float:right;

}

ul.navbar li {

float:left;
list-style: none outside none;
width: 100px;
height: 100%;
background-image:url(sprites.png); 
background-repeat:no-repeat;
background-size: 600px auto;
z-index: 2;
color:white;
direction:ltr;
overflow:hidden;
text-align:left;
text-decoration:none;
text-indent:-999em;

}


.logo {margin-right: 180px; width: 320px !important; background-size: 340px auto !important;}
.home {background-position: 3px -101px; background-color: #FAE600;} 
.food {background-position: -85px -101px;} 
.sports {background-position: -170px -101px;} 
.entertainment {background-position: -292px -101px;} 
.travel {background-position: -414px -101px;} 
.music {background-position: -505px -101px; margin-right: 30px; background-color: #FAE600;}


.home:hover {background-position: 3px -170px; background-color: #EABC00;}
.food:hover {background-position: -85px -170px;}
.sports:hover {background-position: -170px -170px;}
.entertainment:hover {background-position: -292px -170px;}
.travel:hover {background-position: -414px -170px;}
.music:hover {background-position: -505px -170px; background-color: #EABC00;}


#content {

	width: 69.15%;
	max-width: 800px;
	height: 320%;
	margin:auto;
	margin-top: 50px;
	overflow-x: hidden;



}


#content img {

	width: 100%;

}


#brady {

	width: 340px;
	position: relative;
	float: left;
}

#innout {

	width: 433px;
	position: relative;
	float: left;
}

#innout h1 {

margin-top: 100px;
}

#chance {

	width: 433px;
	position: relative;
	float: left;

}
#chance h1 {

margin-top: 80px;
}

#pulp {

	width: 340px;
	position: relative;
	float: left;
	margin-top: -202px;

}


#pulp h1 {

margin-top: 230px;
}

#kalahari {

	width: 433px;
	position: relative;
	float: left;

}

#blaze {

	width: 773px;
	position: relative;
	float: left;
}
#blaze h1 {

margin-top: 100px;
}


#kanye {

	width: 433px;
	position: relative;
	float: left;

}


#kd {

	width: 340px;
	position: relative;
	float: left;
}
#kd h1 {

margin-top: 200px;
}


#bill {

	width: 433px;
	position: relative;
	float: left;
	margin-top: -135px;
}
#bill h1 {

margin-top: 110px;
}

#cape {

	width: 340px;
	position: relative;
	float: left;
}

#cape h1 {

margin-top: 90px;
}

#eagles {

	width: 433px;
	position: relative;
	float: left;
	margin-top: -117px;
}

#eagles h1 {

margin-top: 150px;
}


#van {

	width: 340px;
	position: relative;
	float: left;
}
#van h1 {

margin-top: 90px;
}

#celtics {

	width: 773px;
	position: relative;
	float: left;
}
#celtics h1 {

margin-top: 160px;
}



.hover {


	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	opacity: 0;
	position: absolute;
	top: 0px;
	float: left;

}

.hover h1 {

	text-align: center;
	margin-top: 120px;
	font-family: Campton-BoldDEMO;
	font-size: 35pt;
	color: black;

}

.hover a {

	text-decoration: none;
}

.hover:hover {
background-color: rgba(242, 242, 242, 0.6);
opacity: 1;

}

#footer {

width: 100%;
display: block;
height: 120px;
overflow-x: hidden;
overflow-y: hidden;
border-top: 1px solid black;
background-color: #FAE600;
}

ul.footerlogos li {
float:left;
margin: auto;
list-style: none outside none;
width: 100px;
height: 90px;
background-image:url(sprites.png); 
background-repeat:no-repeat;
background-size: 700px auto;
z-index: 2;
color:white;
direction:ltr;
overflow:hidden;
text-align:left;
text-decoration:none;
transition: all 0.5s;
}


.facebook {background-position: 0px -400px; background-color: #FAE600;} 
.twitter {background-position: -100px -400px;} 
.youtube {background-position: -200px -400px;} 
.linkedin {background-position: -299px -400px;} 
.tumblr {background-position: -400px -400px;} 
.google {background-position: -500px -400px; background-color: #FAE600;}


.facebook:hover {background-position: 0px -300px; background-color: #EABC00;}
.twitter:hover {background-position: -100px -300px;}
.youtube:hover {background-position: -200px -300px;}
.linkedin:hover {background-position: -299px -300px;}
.tumblr:hover {background-position: -400px -300px;}
.google:hover {background-position: -500px -300px; background-color: #EABC00;}
