img.background {

	width: 110%;
	height: 101%;
	position: fixed;
	z-index: -1;
	display: block;
	overflow: hidden;
	left: -20px;
	top: -6.5px;
}


#outer {


	width: 800px;
	height: 1040px;
	margin: auto;
	margin-top: 80px;

}

#sidebar {

	margin-top: 94px;
	width: 200px;
	height: 400px;
	float: left;
}

#sidebar img {

	width: 100%;
}
#nav {

	margin-top: 15px;
	float: right;
	background-color: #184073;
	padding: 11px 29px 29px 35px;
	width: 106px;
	overflow: hidden;
}

#nav li {

	display: block;
	color: #f8f9fb;
	font-family: sans-serif;
	font-size: 9pt;
	border-top: #1b4a85 1px solid;
	line-height: 180%;
}

#nav li:hover {

	color: #619dc7;
}

#nav a {

	text-decoration: none;
}

#blue {

	background-color: #619dc7;
	line-height: 65%;
}

#content-holder {

	width: 612px;
	height: 1000px;
	margin-left: 200px;

}
#content-holder img {

	width: 100%;
}

#content {

	width: 572px;
	height: 370px;
	padding: 20px;
	background-color: white;
	font-family: sans-serif;
	}

	#content h1 {font-size: 14pt;}
	#content h2 {font-size: 11pt;}
	#content h3 {font-size: 10pt; margin-bottom: 0px;}
	#content h4 {font-size: 9pt; margin:0px;}
	#content p {font-size: 9pt; font-weight: normal;}
	#content img {width: 25%;}



#logos {

	width: 572px;
	height: 330px;
	background-color: white;
	padding: 20px;

}

#logos img {

margin: 0;
width: 24%;
}



